@import url(desarrollo.css);
@media all and (min-width: 600px) {
  .telefono-5 {
    width: 5%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-10 {
    width: 10%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-15 {
    width: 15%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-20 {
    width: 20%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-25 {
    width: 25%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-30 {
    width: 30%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-35 {
    width: 35%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-40 {
    width: 40%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-45 {
    width: 45%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-50 {
    width: 50%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-55 {
    width: 55%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-60 {
    width: 60%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-65 {
    width: 65%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-70 {
    width: 70%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-75 {
    width: 75%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-80 {
    width: 80%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-85 {
    width: 85%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-90 {
    width: 90%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-95 {
    width: 95%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .telefono-100 {
    width: 100%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
}

@media all and (min-width: 768px) {
  .tablet-5 {
    width: 5%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-10 {
    width: 10%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-15 {
    width: 15%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-20 {
    width: 20%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-25 {
    width: 25%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-30 {
    width: 30%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-35 {
    width: 35%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-40 {
    width: 40%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-45 {
    width: 45%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-50 {
    width: 50%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-55 {
    width: 55%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-60 {
    width: 60%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-65 {
    width: 65%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-70 {
    width: 70%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-75 {
    width: 75%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-80 {
    width: 80%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-85 {
    width: 85%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-90 {
    width: 90%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-95 {
    width: 95%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tablet-100 {
    width: 100%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
}

@media all and (min-width: 1025px) {
  .web-5 {
    width: 5%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-10 {
    width: 10%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-15 {
    width: 15%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-20 {
    width: 20%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-25 {
    width: 25%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-30 {
    width: 30%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-35 {
    width: 35%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-40 {
    width: 40%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-45 {
    width: 45%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-50 {
    width: 50%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-55 {
    width: 55%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-60 {
    width: 60%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-65 {
    width: 65%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-70 {
    width: 70%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-75 {
    width: 75%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-80 {
    width: 80%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-85 {
    width: 85%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-90 {
    width: 90%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-95 {
    width: 95%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .web-100 {
    width: 100%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
}

@media all and (min-width: 1400px) {
  .tv-5 {
    width: 5%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-10 {
    width: 10%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-15 {
    width: 15%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-20 {
    width: 20%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-25 {
    width: 25%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-30 {
    width: 30%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-35 {
    width: 35%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-40 {
    width: 40%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-45 {
    width: 45%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-50 {
    width: 50%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-55 {
    width: 55%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-60 {
    width: 60%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-65 {
    width: 65%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-70 {
    width: 70%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-75 {
    width: 75%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-80 {
    width: 80%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-85 {
    width: 85%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-90 {
    width: 90%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-95 {
    width: 95%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
  .tv-100 {
    width: 100%;
    float: left;
    border-sizing: border-box;
    position: relative;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

header {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
}

header.full {
  width: 100%;
}

header nav.left {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}

@media screen and (max-width: 768px) {
  header nav.left {
    position: fixed;
  }
}

header nav.left > ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  header nav.left > ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

header nav.left > ul > li {
  width: 100%;
  padding: 10px;
}

header nav.left > ul > li > a {
  display: block;
  padding: 10px;
  text-align: center;
}

header nav.right {
  width: 70%;
  height: 100%;
  float: right;
  position: relative;
}

@media screen and (max-width: 768px) {
  header nav.right {
    position: fixed;
    top: 0;
    right: 0;
  }
}

header nav.right > ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  header nav.right > ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

header nav.right > ul > li {
  width: 100%;
  padding: 10px;
}

header nav.right > ul > li > a {
  display: block;
  padding: 10px;
  text-align: center;
}

header nav.center {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  header nav.center {
    position: fixed;
    top: 0;
    width: 70%;
  }
}

header nav.center > ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  header nav.center > ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

header nav.center > ul > li {
  width: 100%;
  padding: 10px;
}

header nav.center > ul > li > a {
  display: block;
  padding: 10px;
  text-align: center;
}

section {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}

section.full {
  width: 100%;
}

section article {
  text-align: center;
  padding: 5px;
  margin: 0;
  height: 300px;
}
