<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="estilo.css")
	title Document
body.desarrollo
	header
		nav.center 
			ul
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
	//- section
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%
	//- 	article.web-5.tablet-20   ART-5%

	//- section
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- 	article.web-10.tablet-50  ART-10%
	//- section
	//- 	article.web-20.tablet-50  ART-20%
	//- 	article.web-20.tablet-50  ART-20%
	//- 	article.web-20.tablet-50  ART-20%
	//- 	article.web-20.tablet-50  ART-20%
	//- 	article.web-20.tablet-50  ART-20%
	section 
		article.web-25  
		article.web-25  
		article.web-25  
		article.web-25  
	section
		article.web-50  
		article.web-50  


	