<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="estilo.css")
	title Document
body
	header.full
		nav.center 
			ul
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
	section
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%
		article.web-5   ART-5%

	section
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
		article.web-10  ART-10%
	section
		article.web-20  ART-20%
		article.web-20  ART-20%
		article.web-20  ART-20%
		article.web-20  ART-20%
		article.web-20  ART-20%
	section 
		article.web-25  ART-25%
		article.web-25  ART-25%
		article.web-25  ART-25%
		article.web-25  ART-25%
	section
		article.web-50  ART-50%
		article.web-50  ART-50%


	