<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="estilo.css")
	title Document
body
	header.full
		nav.center 
			ul
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link
				li 
					a(href="http://", target="_blank") link

	